.list-categories {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
}

.categories {
  align-items: center;
  border: 1px solid black;
  display: flex;
  padding: 5px;
}

.categories label {
  display: flex;
  width: 200px;
}

.list-categories h1 {
  margin-bottom: 10px;
}
