.img-cart {
  width: 50px;
}

.containerHeader {
  align-items: center;
  background-color: var(--gold-yellow);
  display: flex;
  justify-content: space-around;
}

.cartBtn {
  display: flex;
  padding-top: 10px;
}

.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px #6666666e;
  cursor: pointer;
  margin-left: 10px;
  /* padding: 10px; */
}

.button:active {
  background-color: var(--dark-blue);
}

.length {
  align-items: center;
  background-color: var(--red);
  border-radius: 6px;
  color: white;
  display: flex;
  font-size: 13px;
  height: 25px;
  justify-content: center;
  padding: 5px;
  width: 25px;
}

.InputBusca {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px #6666666e;
  margin-right: 3px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.containerHeader form {
  display: flex;
  justify-content: center;
  /* width: 60%; */
}

.containerHeader form label {
  width: 80%;
}


.message {
  background-color: var(--gold-yellow);
  padding: 5px;
  text-align: center;
}

main {
  display: flex;
}

.header_div_form {
  /* display: flex; */
  width: 60%;
  padding: 10px;
}

.logo {
  text-decoration: none;
}

.logo h3 {
  color: var(--dark-blue);
  font-family: monospace;
  font-weight: 700;
}

